.section__header {
    display: flex;
    height: 0.8rem;
    background-color: #666;
    border-radius: 0.08rem;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding-left: 0.28rem;
    margin-bottom: 0.28rem;
}
.section__title {
    font-size: 0.2rem;
    text-transform: uppercase;
}